{% extends "layout.html" %}
{% block content %}
{% for a in post.items %}
<article class="media content-section">
    <img src="/static/images/{{a.author.image_file}}"class="rounded-circle article-img">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">Name: {{ a.author.username}}</a>
            <small class="text-muted"> Email:{{a.author.email }}</small>
            <small class="text-muted"> Date:{{a.date_posted.strftime('%Y-%d-%m')}}</small>

        </div>
                    <a class="mr-2" href="{{url_for('post_id',post_id=a.id)}}">{{ a.title}}</a>
        <p> {{ a.content }}</p>
    </div>
    </article>
    {% endfor %}
    {% for page_num in post.iter_pages()%}
        {%if page_num%}
            <a class="btn btn-outline-info mb-4" href="{{url_for('home',page= page_num)}}"> {{page_num}} </a>
        {%endif%}
            -
    {%endfor%}
{% endblock content %}