{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
    <img src="{{image_file}}"class="rounded-circle article-img">
    <div class="media-body">
        {%if current_user.username == post.author.username%}
        <div>
            <a class="btn btn-secondary btn-sm m-1" href="{{url_for('post_update',post_id=post.id)}}">update</a>
                <button class="btn btn-primary" data-toggle="modal" data-target="#deletemodel">delete</button>
        </div>
        {%endif%}
        <div class="article-metadata">
            <a class="mr-2" href="#">Name: {{ post.author.username}}</a>
            <small class="text-muted"> Email:{{post.author.email }}</small>
            <small class="text-muted"> Date:{{post.date_posted.strftime('%Y-%d-%m')}}</small>
        </div>

        <h1><p> {{ post.title }}</p></h1>h
        <p> {{ post.content }}</p>
    </div>
</article>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Example of Bootstrap 3 Modal Sizes</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
    	margin: 20px;
    }
</style>
</head>
<body>
<div class="bs-example">

    <!-- Small modal -->


    <div id="deletemodel" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body">
                    <p>Do u want to delete ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <form action="{{url_for('delete',post_id=post.id)}}" method="POST">
                       <input class="btn btn-primary" type="submit" value="Delete">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

{% endblock content %}